/* *****************************************************************************
                        Normalize Css
***************************************************************************** */
body,
html {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
*{
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {}
.btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.clearfix {
    clear: both;
}

/* *****************************************************************************
                    Navbar CSS start
***************************************************************************** */
.navbar {
    background-color: #255989;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}
.navbar .navbar-inner {
    padding: 10px 40px;
}
.navbar .logo .main-logo {
    width: 100px;
}
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.float-right ul {
    list-style: none;
}

.float-right ul li {
    display: inline-block;
}

.navbar .float-right ul li a.active{
    border-bottom: 2px solid red;
}
.portfolio-alert {
    position: relative;
}

.portfolio-alert .portfolio-alert-num {
    position: absolute;
    background: red;
    width: 20px;
    height: 20px;
    padding: 2px;
    color: white;
    top: -4px;
    right: -5px;
    border-radius: 50%;
    text-align: center;
}
/* *****************************************************************************
                    Navbar CSS end
***************************************************************************** */
/* *****************************************************************************
                    Banner CSS start
***************************************************************************** */

header .header-banner{
    background: url(../image/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 100vh;
    
}
header .header-banner .header-banner-text{
    color: white;
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 20%;
    right: 20%;
}
header .header-banner .header-banner-text h2{
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
header .header-banner .header-banner-text p{
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}
header .header-banner .header-banner-text .social-link{
   margin-top: 20px;
   padding: 20px;
   font-size: 0.8rem;
    
}
header .header-banner .header-banner-text .facebook{
   background-color: #0D8AF0;
   color: white;
   border-radius: 20px;
}
header .header-banner .header-banner-text .twitter{
   background-color: #00B6F1;
   color: white;
   border-radius: 20px;
}
header .header-banner .header-banner-text .youtube{
   background-color: #FF0000;
   color: white;
   border-radius: 20px;
}
/* *****************************************************************************
                    Banner CSS end
***************************************************************************** */

/* *****************************************************************************
                    About Me CSS start
***************************************************************************** */
.content {
    padding: 20px;
}
/* *****************************************************************************
                    About Me CSS start
***************************************************************************** */
/* Another css style */
#class-css{
    margin-top: 60px;
}

.btn-focus{
    background-color: #FF0000;
    border-radius: 5px ;
    padding: 5px 10px;
    color: white;
    display: inline-block;
    transition: 30ms;
    
}
.btn-focus:hover{
   background-color: #255989;
   transform: scale(1.1);
   
}

.btn-focus:active{
    background-color: #099734;
 }
input{
    border-radius: 5px;
    outline: none;
    box-shadow: #255989 2px 2px 5px 1px;
}

input:focus{
    border: 2px solid #d3578b;
}
.item-list ul{
    list-style: none;
}
.item-list ul li::before{
    font: var(--fa-font-regular);
    content: '\f007';
    /* background-image: url(/image/businessman.jpg); */
    background-size: 15px 15px;
    display: inline-block;
    width: 15px;
    height: 14px;
    background-repeat: no-repeat;
}
.text-content{
    width: 50%;
    float: left;
}
.text-content p{
    overflow: auto;
    max-height: 150px;
    
}
.menu-bar{
    display: none;
}
@media only screen and  (max-width:600px) {
    .float-right ul {
        display: none;
    }
    .menu-bar{
        font-size: 2rem;
        color: white;
        display: block;
    }
    .text-content{
        width: 100%;
    }
}